head
  title hue

body
  .container
    h1 All lights

    +lights

template(name='lights')
  table.table-minimal
    thead
      tr
        th id
        th name
    tbody
      each lights
        tr
          td= this.id
          td= this.name
          td
            button.on on
            button.off off
