template(name='presetsIndex')
  .presets-page
    h1 All presets
    button.addPreset add preset
    button.sync Sync with bridge

    table.table-minimal
      thead
        tr
          th id
          th name
          th lights
          th: button.default Default
      tbody
        each presets
          tr
            td= _id
            td= name
            td
              each lights
                = id

                span.preview(style="background-color: {{ hsl data }};")
                br
            td
              button.select select
