template(name='presetsIndex')
  .presets-page
    h1 All presets
    button.addPreset add preset
    input.name(placeholder: 'name')

    table.table-minimal
      thead
        tr
          th id
          th name
          th lights
          th
      tbody
        each presets
          tr
            td= _id
            td= name
            td
              each lights
                = id

                span.preview(style="background-color: {{ hsl data }};")
                br
            td
              button.delete delete
