template(name='lightsIndex')
  h1 All lights

  table.table-minimal
    thead
      tr
        th id
        th name
        th
          button.allOn on
          button.allOff off
          button.allDefault default
        th
    tbody
      each lights
        tr
          td= id
          td= name
          td
            button.on on
            button.off off
            button.default default
          td
            button.edit edit
            button.delete delete
