template(name='dashboard')
  .dashboard-page

    table
      tr
        td Hue range
        td: .slider#hue-slider
        td: #hue-display-lower
        td: #hue-display-upper

      tr
        td Bri range
        td: .slider#bri-slider
        td: #bri-display-lower
        td: #bri-display-upper

      tr
        td Sat range
        td: .slider#sat-slider
        td: #sat-display-lower
        td: #sat-display-upper

    button.add Add step
    button.start(disabled=startDisabled) Start
    button.stop Stop

    table
      thead
        tr
          th Hue-range 
          th Bri-range 
          th Sat-range 
      tbody
        each steps
          tr
            td= hue
            td= bri
            td= sat
